/* variables */
a {
  text-decoration: none;
  color: inherit;
}
.d-none {
  display: none !important;
}
.scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  background: #dfe2e2;
  border-top: 1px solid #bfc2c2;
  flex: 1;
  -webkit-box-flex: 1;
}
#wrapper {
  overflow: hidden;
}
/* main */
#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
}
.status {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #16a085;
}
#list-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  bottom: 0;
}
/* sidebar */
.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-box-orient: vertical;
  flex-direction: column;
  display: -webkit-box;
  display: flex;
  width: 32%;
  box-sizing: border-box;
  border-right: 1px solid #888888;
  border-left: 1px solid #888888;
  overflow: hidden;
  font-size: 1rem;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  background: #9da181;
  z-index: 1;
}
.sidebar.left {
  left: -33%;
}
.sidebar.left.visible {
  -webkit-transform: translate3d(103%, 0, 0);
}
.sidebar header {
  padding: 1rem 1.25rem 0.5rem 1.25rem;
  text-align: left;
  color: #fff;
}
#library header {
  padding: 0;
}
#library header a {
  display: block;
  padding: 0.8rem 1rem;
}
.sidebar h2 {
  font-weight: normal;
  margin: 0;
}
.topcoat-list {
  background-color: #dfe2e2;
}
.topcoat-list__item {
  cursor: pointer;
  padding: 0;
}
.topcoat-list__item a {
  display: block;
  padding: 1em 1em 1em 4rem;
}
.directory a {
  background: url('../assets/img/folder_filled-25.png') no-repeat 1em center;
}
.file a {
  background: url('../assets/img/audio_file-32.png') no-repeat 0.9em center;
}
/* song */
#song {
  width: 98%;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
}
/* controls */
#controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6em;
}
#play {
  top: 0;
}
#speed {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
#increment,
#decrement {
  text-align: center;
  line-height: 6em;
}
#increment {
  margin-bottom: 2px;
}
#play {
  background: rgba(102, 102, 102, 0.5) url('../assets/img/pause-50.png') no-repeat center;
}
#play.paused {
  background: rgba(102, 102, 102, 0.5) url('../assets/img/play-50.png') no-repeat center;
}
.shown {
  display: block !important;
}
.control {
  width: 6em;
  height: 6em;
  background: rgba(102, 102, 102, 0.5);
}
#value {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.2em;
  -webkit-transform: translateY(-50%);
  display: none;
  width: 2.3em;
  height: 2.3em;
  background: rgba(102, 102, 102, 0.5);
  font-size: 3em;
  line-height: 2.3em;
  color: #ffffff;
  text-align: center;
}
.fontSize1 {
  font-size: 1.1em;
}
.fontSize2 {
  font-size: 1.2em;
}
.fontSize3 {
  font-size: 1.3em;
}
.fontSize4 {
  font-size: 1.4em;
}
.fontSize5 {
  font-size: 1.5em;
}
