<header>
    <h2><a href="#library">Library</a></h2>
    <span class="icon sync"></span>
</header>
<div class="topcoat-list__container scroller cf">
    <ul class="topcoat-list">
    <% _.each(items, function(item) { %>
        <li class="topcoat-list__item <%= item.isDirectory ? 'directory' : 'file' %>">
            <a data-url="<%= item.nativeURL %>" href="#<%= item.isDirectory ? 'directories' : 'files' %>/<%= item.nativeURL.replace('file:///storage/emulated/0/AuWanGuSongs/', '').replace(/\//g, '|') %>">
                <%= item.name %>
            </a>
        </li>
    <% }); %>
    </ul>
</div>