/* variables */
@bg-color-sidebar: #9DA181;
@bg-color-statusbar: #16A085;
@bg-control: rgba(102, 102, 102, .5);
@bg-list: #dfe2e2;
@bg-scroller: #DFE2E2;
@bg-font-size-control: #DADADA;

@icon-folder: '../assets/img/folder_filled-25.png';
@icon-file: '../assets/img/audio_file-32.png';
@icon-pause: '../assets/img/pause-50.png';
@icon-play: '../assets/img/play-50.png';

@border-scroller: 1px solid #BFC2C2;
@border-sidebar: 1px solid #888;

@fontsize-sidebar: 1em;
@fontsize-control: 4em;
@fontsize-song-1: 1.1em;
@fontsize-song-2: 1.2em;
@fontsize-song-3: 1.3em;
@fontsize-song-4: 1.4em;
@fontsize-song-5: 1.5em;

@color-level-value: #ffffff;

a {
    text-decoration: none;
    color: inherit;
}

.d-none {
    display: none !important;
}

.fontSize1 {
    font-size: @fontsize-song-1;
}
.fontSize2 {
    font-size: @fontsize-song-2;
}
.fontSize3 {
    font-size: @fontsize-song-3;
}
.fontSize4 {
    font-size: @fontsize-song-4;
}
.fontSize5 {
    font-size: @fontsize-song-5;
}

.topcoat-list {
    background-color: @bg-list;
}
.topcoat-list__item {
    cursor: pointer;
    padding: 0;

    a {
        display: block;
        padding: 1em 1em 1em 4rem;
    }
}

.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    background: @bg-scroller;
    border-top: @border-scroller;
    flex: 1;
    -webkit-box-flex: 1;
}
#wrapper {
    overflow: hidden;
}

/* main */
#main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;

    .status {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: @bg-color-statusbar;
    }

    #list-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        bottom: 0;
    }
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0px;
    bottom: 0px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-box-orient: vertical;
    flex-direction: column;
    display: -webkit-box;
    display: flex;
    width: 32%;
    box-sizing: border-box;
    border-right: @border-sidebar;
    border-left: @border-sidebar;
    overflow: hidden;
    font-size: @fontsize-sidebar;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    background: @bg-color-sidebar;
    z-index: 1;

    header {
        padding: 1rem 1.25rem 0.5rem 1.25rem;
        text-align: left;
        color: #fff;
    }

    h2 {
        font-weight: normal;
        margin: 0;
    }
}
.sidebar.left {
    left: -33%;
}
.sidebar.left.visible {
    -webkit-transform: translate3d(103%, 0, 0);
}

#library {
    header {
        padding: 0;

        a {
            display: block;
            padding: 0.8rem 1rem;
        }
    }

    .directory a {
        background: url(@icon-folder) no-repeat 1em center;
    }
    .file a {
        background: url(@icon-file) no-repeat 0.9em center;
    }
}


/* song */
#song {
    width: 98%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
}

/* settings */
#settings {
    /* controls */
    #controls {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 6em;

        .control {
            width: 6em;
            height: 6em;
            background: @bg-control;

            span {
                font-size: @fontsize-control;
            }
        }

        #font-size {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 34%;
            background: @bg-font-size-control;
        }

        #speed {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);

            #increment,
            #decrement {
                text-align: center;
                line-height: 6em;
            }
            #increment {
                margin-bottom: 2px;
            }
        }

        #play {
            top: 0;
            background: @bg-control url(@icon-pause) no-repeat center;
        }
        #play.paused {
            background: @bg-control  url(@icon-play) no-repeat center;
        }
    }

    #value {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -1.2em;
        -webkit-transform: translateY(-50%);
        display: none;
        width: 2.3em;
        height: 2.3em;
        background: @bg-control;
        font-size: 3em;
        line-height: 2.3em;
        color: @color-level-value;
        text-align: center;
    }
    #value.shown {
        display: block !important;
    }
}