/* variables */
@bg-color-sidebar: rgba(223, 226, 226, .9);
@bg-color-statusbar: #16A085;
@icon-list-background: url(../assets/img/menu-32.png) no-repeat center;
@icon-settings-background: url(../assets/img/settings-32.png) no-repeat center;

a {
    text-decoration: none;
    color: inherit;
}
.scroller {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    border-top: solid 1px #BFC2C2;
    flex: 1;
    -webkit-box-flex: 1;
}
#wrapper {
    overflow: hidden;
}

/* main */
#main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
}
.status {
    height: 4px;
    width: 30%;
    background-color: @bg-color-statusbar;
    position: fixed;
    top: 0;
    left: 0;
}
#list-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: @icon-list-background;
}
#settings-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: @icon-settings-background;
}

/* sidebar */
.sidebar {
    overflow: hidden;
    position: fixed;
    top: 0px;
    bottom: 0px;
    box-sizing: border-box;
    width: 36%;
    font-size: 1rem;
    border-right: solid 1px #888;
    border-left: solid 1px #888;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    background: @bg-color-sidebar;
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    z-index: 1;
}
.sidebar.left {
    left: -37%;
}
.sidebar.right {
    right: -37%;
}

.sidebar.right.visible {
    -webkit-transform: translate3d(-103%, 0, 0);
}
.sidebar.left.visible {
    -webkit-transform: translate3d(103%, 0, 0);
}

.sidebar header {
    padding: 1rem 1.25rem 0.5rem 1.25rem;
    text-align: left;
    color: #fff;
}
#library header {
    padding: 0;
}
#library header a {
    display: block;
    padding: 0.8rem 1rem;
}
.sidebar h2 {
    font-weight: normal;
    margin: 0;
}
.topcoat-list {
    background-color: #dfe2e2;
}
.topcoat-list__item {
    cursor: pointer;
    padding: 0;
}
.topcoat-list__item a {
    display: block;
    padding: 1rem;
}

/* song */
#song {
    width: 80%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
}
#song {
    font-size: 1.3rem;
}