/* variables */
a {
  text-decoration: none;
  color: inherit;
}
.d-none {
  display: none !important;
}
.scroller {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  background: #DFE2E2;
  border-top: solid 1px #BFC2C2;
  flex: 1;
  -webkit-box-flex: 1;
}
#wrapper {
  overflow: hidden;
}
/* main */
#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
}
.status {
  height: 4px;
  width: 100%;
  background-color: #16a085;
  position: fixed;
  top: 0;
  left: 0;
}
#list-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  bottom: 0;
}
/* sidebar */
.sidebar {
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  box-sizing: border-box;
  width: 46%;
  font-size: 1rem;
  border-right: solid 1px #888;
  border-left: solid 1px #888;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  background: #9da181;
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  z-index: 1;
}
.sidebar.left {
  left: -47%;
}
@media (max-width: 600px) {
  .sidebar {
    width: 32%;
  }
  .sidebar.left {
    left: -33%;
  }
}
.sidebar.left.visible {
  -webkit-transform: translate3d(102%, 0, 0);
}
.sidebar header {
  padding: 1rem 1.25rem 0.5rem 1.25rem;
  text-align: left;
  color: #fff;
}
#library header {
  padding: 0;
}
#library header a {
  display: block;
  padding: 0.8rem 1rem;
}
.sidebar h2 {
  font-weight: normal;
  margin: 0;
}
.topcoat-list {
  background-color: #dfe2e2;
}
.topcoat-list__item {
  cursor: pointer;
  padding: 0;
}
.topcoat-list__item a {
  display: block;
  padding: 1em 1em 1em 4rem;
}
.directory a {
  background: url(../assets/img/folder_filled-25.png) no-repeat 1em center;
}
.file a {
  background: url(../assets/img/audio_file-32.png) no-repeat 0.9em center;
}
/* song */
#song {
  width: 98%;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
}
#song pre {
  overflow-x: hidden;
  overflow-y: auto;
}
/* controls */
#controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5em;
}
#play {
  top: 0;
}
#speed {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
}
#increment,
#decrement {
  text-align: center;
}
#increment span,
#decrement span {
  font-size: 4em;
  color: #fff;
  line-height: 125%;
}
#increment {
  margin-bottom: 2px;
}
#play {
  background: rgba(157, 161, 129, 0.5) url(../assets/img/pause-50.png) no-repeat center;
  border-radius: 0 0 0 10px;
}
#play.paused {
  background: rgba(157, 161, 129, 0.5) url(../assets/img/play-50.png) no-repeat center;
}
.shown {
  display: block !important;
}
.control {
  width: 5em;
  height: 5em;
  background: rgba(157, 161, 129, 0.5);
  border-radius: 10px 0 0 10px;
}
#value {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5em;
  -webkit-transform: translateY(-50%);
  display: none;
  width: 6em;
  height: 6em;
  border-radius: 10px;
  background: rgba(157, 161, 129, 0.7);
  color: #ffffff;
  text-align: center;
}
#value span {
  font-size: 2.6em;
  line-height: 240%;
}
#font-size {
  position: absolute;
  height: 30%;
  width: 5em;
  background: rgba(157, 161, 129, 0.2);
  bottom: 0;
}
.fontSize1 {
  font-size: 1.1em;
}
.fontSize2 {
  font-size: 1.2em;
}
.fontSize3 {
  font-size: 1.3em;
}
.fontSize4 {
  font-size: 1.4em;
}
.fontSize5 {
  font-size: 1.5em;
}
